[submodule "OpenGL/vendor/glfw"]
	path = OpenGL/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "OpenGL/vendor/glm"]
	path = OpenGL/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "OpenGL/vendor/xxHash"]
	path = OpenGL/vendor/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "OpenGL/vendor/Clipper2"]
	path = OpenGL/vendor/Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
